.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    margin-top: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(48, 190, 233);
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 44, 244);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(145, 253, 56);
}